html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: blueviolet;
    font-size: 0;
}

header {
    background-color: #123456;
}

section {
    background-color: orange;
}

footer {
    background-color: yellow;
